#clockcontainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.4%;
    height: 22%;
    top: 28%;
    left: 49.2%;
    opacity: 0.8;
    
    
    
     
}
#minute{
    width: 0.8%;
    height: 29%;
    top: 21%;
    left: 49.6%;
    opacity: 0.6;
    
    
}
#second{
   
    width: 0.5%;
    height: 35%;
    top: 15%;
    left: 49.6%;
    
   

}